body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  margin: 0;
  font-family:  "Lucida Console", sans-serif;
}

header h1 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
}

#login {
  margin-left: auto; /* pushes login section to the far right */
}

main{

  background-color: #000000;
  color: #ffffff;
  padding: 1em;
}