body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  margin: 0;
  font-family:  "Lucida Console", sans-serif;
}

header h1 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 1em;
}

#title {
  margin-left: auto; 
  margin-right: auto; 
}
#login {
  margin-left: auto; 
}

main{

  background-color: #000000;
  color: #ffffff;
  padding: 1em;
}